:root {
	--mainBackground: #262626;
	--mainYellow: #fec801;
	--mainWhite: #fff;
	--mainBlue: #0d94d6;
	--landingBackgroundGrey: #808080;
	--fontSizeParagraph: 1.4rem;
	--fontSizeH1: 6.5rem;
	--fontSizeH2: 4rem;
	--fontSizeH3: 2.8rem;
	--fontSizeH4: 2.2rem;
	--fontSizeH5: 1.4rem;
}

@media screen and (max-width: 1256.98px) {
	#header .nav-item a {
		font-size: 1.2rem;
	}
}


@media screen and (max-width: 1024px) {
	#header .logo {
		display: none;
	}
	.nav-toggle {
	display: block;
	}
	#header .nav-item {
		margin-bottom: 5rem;
	}
	#header .nav-item a {
		font-size: 2rem;
	}
	.navigation {
	position: fixed;
	background-color: var(--mainBackground);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	}
	.navigation .primary-nav {
	position: relative;
	top: 45%;
	-moz-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	-webkit-transform: translateY(-45%);
	transform: translateY(-45%);
	}
	.navigation li {
	display: block;
	margin-bottom: 1px;
	}
	.navigation a {
	display: block;
	font-size: 1.8rem;
	margin: 0;
	text-align: center;
	padding: 1.7rem 0;
	color: var(--mainWhite);
	}
	.landingText {
	top: 40%;
	left: 50%;
	}
}

@media screen and (max-width: 768px) { 
	.landing {
	background-size: 100vw 80vh;
	}
	.landingH3, .landingH4, .landingParagraph {
	display: none;
	}
	.landingText {
	width: 50%;
	top: 30%;
	left: 50%;
	}
	.landingMobile {
	display: block;
	color: var(--mainYellow)
	}
	.landingMobile img {
	width: 30%;
	object-fit: cover;
	}
	.footer .footer-col {
	margin-bottom: 50px;
	}
}

@media screen and (max-width: 490px) {
	.landing {
	background-position: center;
	background-size: 100vw 40vh;
	}
	.landingMobile {
	font-size: 3rem;
	}
	.landingText {
	top: 35%;
	left: center;
	}
}