:root {
	--mainBackground: #262626;
	--mainYellow: #fec801;
	--mainWhite: #fff;
	--mainBlue: #0d94d6;
	--landingBackgroundGrey: #808080;
	--fontSizeParagraph: 1.4rem;
	--fontSizeH1: 6.5rem;
	--fontSizeH2: 4rem;
	--fontSizeH3: 2.8rem;
	--fontSizeH4: 2.2rem;
	--fontSizeH5: 1.4rem;
}

@media screen and (max-width: 1256.98px) {
	#header .nav-item a {
		font-size: 1.2rem;
	}
}


@media screen and (max-width: 1024px) {
	#header .logo {
		display: none;
	}
	.nav-toggle {
	display: block;
	}
	#header .nav-item {
		margin-bottom: 5rem;
	}
	#header .nav-item a {
		font-size: 2rem;
	}
	.navigation {
	position: fixed;
	background-color: var(--mainBackground);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	}
	.navigation .primary-nav {
	position: relative;
	top: 45%;
	-moz-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	-webkit-transform: translateY(-45%);
	transform: translateY(-45%);
	}
	.navigation li {
	display: block;
	margin-bottom: 1px;
	}
	.navigation a {
	display: block;
	font-size: 1.8rem;
	margin: 0;
	text-align: center;
	padding: 1.7rem 0;
	color: var(--mainWhite);
	}
}

@media screen and (max-width: 768px) { 
	.footer .footer-col {
	margin-bottom: 50px;
	}
}

@media screen and (max-width: 540px) {
	#banner:before {
		background: #000;
	}
	#banner h1 span {
		font-size: 50%;
		color: var(--mainYellow)
	}
	#banner h2, #banner h3 {
		font-size: var(--fontSizeH5);
	}
	#banner h3 {
		top: 60%;
	}
	h1 span:nth-child(1) {
		animation-delay: .75s !important;
	}
	h1 span:nth-child(2) {
	animation-delay: 1s !important;
	}
	h1 span:nth-child(3) {
	animation-delay: 1.25s !important;
	}
	h1 span:nth-child(4) {
	animation-delay: 1.5s !important;
	}
	h1 span:nth-child(5) {
	animation-delay: 1.75s !important;
	}
	h1 span:nth-child(6) {
	animation-delay: 2s !important;
	}
	h1 span:nth-child(7) {
	animation-delay: 2.25s !important;
	}
	h1 span:nth-child(8) {
	animation-delay: 2.5s !important;
	}
}